.App {
  text-align: center;
  padding: 50px;
}

.card-columns {
  /* padding: 20px; */
  column-count: 5;
}

.card {
  text-align: center;
  border: 5px solid;
  flex-direction: row;
  padding: 0;
}

form {
  border: 2px solid lightgray;
  border-radius: 25px;
  padding: 30px;
}


